# Env / secrets
.env
*.local

# Gradle / Kotlin
backend/.gradle/
backend/build/
backend/out/

# Flutter / Dart
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
